.container
{
    height: calc(100% - 10px);
}

.container2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 100px);
}

#writeField
{
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 470px;
    margin: auto;
}

.URtitle
{
    width: 1093px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    border: 1px solid var(--color-darkgray);
    border-radius: 5px;
    background-color: var(--color-textField);
    color: var(--color-text);
    padding-left: 10px;
}

.URmain
{
    width: 1085px;
    height: 300px;
    resize: none;
    margin: 10px 0;
    border: 1px solid var(--color-darkgray);
    border-radius: 5px;
    background-color: var(--color-textField);
    color: var(--color-text);
    padding: 10px;

}

.filebox .upload-name
{
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid var(--color-darkgray);
    width: 400px;
    color: #999999;
    user-select: none;
    border-radius: 5px;
    background-color: var(--color-textField);
}

.filebox label
{
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    vertical-align: middle;
    background-color: #808080;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--font-M);
    user-select: none;
}

.filebox input[type="file"]
{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.post
{
    display: flex;
    justify-content: right;
    margin-top: 70px;
    gap: 5px;
}

.CancelBtn
{
    background-color: #808080;
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    font-size: var(--font-XL);
    cursor: pointer;
}

.CancelBtn:hover
{
    background-color: #B9BBBE;
}

.WriteBtn
{
    background-color: var(--color-point);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    font-size: var(--font-XL);
    cursor: pointer;
}

.WriteBtn:hover
{
    background-color: var(--color-pointhover);
}
