#container_Title
{
    margin-top: 10px;
    font-size: var(--font-L);
}

#search
{
    font-size: var(--font-XL);
    margin-top: 28.5px;
    display: flex;
    align-items: center;
}

#search div
{
    margin-right: 40px;
}

.searchBarIcon
{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.searchBar
{
    width: 300px;
    height: 30px;
    font-size: var(--font-XL);
    font-weight: var(--font-weight-light);
    background: none;
    border: 1px solid var(--color-text);
    border-radius: 4px;
}

.searchBar::placeholder
{
    color:var(--color-placeholder);
}

.tab
{
    margin: 40px 0 10px 0;
}

.tab input
{
    width: 160px;
    height: 45px;
    font-size: var(--font-L);
    background-color: var(--color-darkbtn);
    border: none;
    border-radius: 5px;
    font-weight: var(--font-weight-regular);
}

hr
{
    border-color: lightgray;
}

.pageContainer
{
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.pageContainer button
{
    margin: 5px;
}

.tabBtn
{
    color:var(--color-text);
}

.tabBtn.on
{
    background-color: var(--color-point);
    color:var(--color-text);
}
.tabBtn.on:hover {
    background-color: var(--color-pointhover);
}

.tabContents
{
    border: 1px solid red;
    height: calc(100vh - 300px);
    width:calc(100vh - 320px);
    overflow-x:scroll;
    overflow-y: scroll;
    display: none;
}

.tabContents.on
{
    display: grid;
}

.tabContents img
{
    width: 300px;
    height: 300px;
}

.hov-anim-box .animated
{
    display: none
}

.hov-anim-box:hover .animated
{
    display: inline;
}

.hov-anim-box:hover .static
{
    display: none;
}

