:root
{
    /* ====== font-size ====== */
    --font-XL: 18px;
    --font-L: 15px;
    --font-M: 14px;
    --font-S: 12px;

    /* ====== font-weight ====== */
    --font-weight-bold: bold;
    --font-weight-regular: normal;

    /* ====== Color ====== */
    --color-body: white;
    --color-logoname: #424242;
    --color-sidebar: white;
    --color-point: #5865F2;
    --color-pointhover: #4752C4;
    --color-purple: #6200EE;
    --color-lavender: #B39CD0;
    --color-lightpurple: #F3F1F5;
    --color-background:#f8f9fa;
    --color-white: white;
    --color-gray300:lightgray;
    --color-gray400: #bdbdbd;
    --color-gray500: #9E9E9E;
    --color-gray600: #757575;
    --color-gray700: #616161;
    --color-gray800: #424242;
    --color-gray900: #161616;

    /* =====Left-margin==== */
    --margin-normal: 22px;
}


#container_Title
{
    margin-top: calc(34px + 10px);
    font-size: var(--font-L);
    font-weight:100;
    color: gray;

    
}

#search
{
    font-size: var(--font-XL);
    margin-top: 28.5px;
    display: flex;
    align-items: center;
    color: gray;
    margin-bottom : 20px;
}

#search div
{
    margin-right: 40px;
}

.searchBarIcon
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(80%) sepia(3%) saturate(11%) hue-rotate(351deg) brightness(96%) contrast(88%);
    
}

.searchBar
{
    width: 300px;
    height: 30px;
    font-size: var(--font-L);
    font-weight: 300;
    background:none;
    border:1px solid gray;
    border-radius:3px;
    margin-right:40px;
}

.tab
{
    margin: 52.5px 0px 3px 0px;
}

.tab input
{
    width: 160px;
    height: 40px;
    font-size: var(--font-L);
    font-weight:var(--font-weight-regular);
    background-color: var(--color-gray400);
    border: none;
    border-radius: 5px;
    color: white;
}

hr
{
    border-color: lightgray;
}

.iconTab
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    gap: 10px 20px;
    
    
}
.icon_wrap {
    border:1px solid red;
    display:block;
    margin : 0 auto;
    line-height:10px;
}
.icon_title {
    font-size:var(--font-M);
}
.icon_discription {
    font-size:var(--font-S);
}


.thumbnail
{
    width: 150px;
    height: 150px;
}

.pageSelection
{
    width: 432px;
    height: 32px;
    border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
}

.devider {
    background-color:red;
}
