#container_Title
{
    margin-top: 10px;
    font-size: var(--font-L);
}

#search
{
    font-size: var(--font-XL);
    margin-top: 28.5px;
    display: flex;
    align-items: center;
}

#search div
{
    margin-right: 40px;
}

.searchBarIcon
{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.searchBar
{
    width: 300px;
    height: 30px;
    font-size: var(--font-XL);
    font-weight: var(--font-weight-light);
    background: none;
    border: 1px solid var(--color-text);
    border-radius: 4px;
}

.searchBar::placeholder
{
    color:var(--color-placeholder);
}

.tab
{
    margin: 40px 0 10px 0;
}

.tab input
{
    width: 160px;
    height: 45px;
    font-size: var(--font-L);
    background-color: var(--color-darkbtn);
    border: none;
    border-radius: 5px;
    font-weight: var(--font-weight-regular);
}

hr
{
    border-color: lightgray;
}


.tabBtn
{
    margin : 30px 0px;
    color:var(--color-text);
    border:none;
    border-radius: 5px;
    width: 160px; height:50px;
    background-color:var(--color-whiteToBlack);
    font-size:var(--font-L);
    font-weight:var(--font-weight-regular);
}
.tabBtn:hover{
    cursor:pointer;
}

.tabBtn.on
{
    background-color: var(--color-point);
    color:var(--color-white);
}
.tabBtn.on:hover {
    background-color: var(--color-pointhover);
}

.tabContents
{
    height: calc(100vh - 300px);
    width: calc(100% - 20px);
    overflow-x:hidden;
    overflow-y: auto;
    display: none;
}

.tabContents.on
{
    display: flex;
    

}




.hov-anim-box img {
    width:200px; height:200px;
}

.hov-anim-box .imgTitle {
    font-size:var(--font-M);
    margin:0px;
}
.hov-anim-box .imgDesc {
    font-size:var(--font-S);
    margin:0px;
}


/* gif 호버 애니메이션 설정 */
.hov-anim-box .animated {
    display:none;
}
.hov-anim-box:hover .animated
{
    display: flex;
}
.hov-anim-box:hover .static
{
    display: none;
}
/* gif 호버 애니메이션 끝 */


/* 페이지네이션 시작 */
.page_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.page_num {
    margin: 3px;
    float: left;
    border-radius: 5px;
    border: 1px solid var(--color-darkbtn);
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: var(--color-whiteToBlack);
    font-size: var(--font-L);
    color: var(--color-text);
    text-decoration: none;
}
.page_num.on {
    background-color:var(--color-blackToWhite);
    color: var(--color-whiteToBlack);
}

.page_wrap img {
    width: 20px;
    height: 20px;
    margin: 3px;
}

/* 페이지네이션 끝 */


.pageContents {
    display:none;
}
.pageContents.on {
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
