/* Google-font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

:root
{
    /* ====== font-size ====== */
    --font-large: 16px;
    --font-mediumlarge: 15px;
    --font-medium: 14px;
    --font-small: 11px;

    /* ====== font-weight ====== */
    --font-weight-bold: bold;
    --font-weight-regular: normal;
    --font-weight-light: lighter;

    /* ====== Color ====== */
    --color-body: white;
    --color-logoname:#424242;
    --color-sidebar: white;
    --color-purple: #6200ee;
    --color-lavender: #B39CD0;
    --color-lightpurple: #F3F1F5;
    --color-white: white;
    --color-gray400: #bdbdbd;
    --color-gray500: #9E9E9E;
    --color-gray600: #757575;
    --color-gray700: #616161;
    --color-gray800: #424242;
    --color-gray900: #161616;

    /* =====Left-margin==== */
    --margin-normal: 25px;
}

*
{
    font-family: 'Noto Sans KR', sans-serif;
}

body
{
    margin-top: 0;
    background-color: var(--color-body);
    transition: all 0.3s ease;
}

body.dark
{
    --color-body: #18191a;
    --color-logoname: white;
    --color-sidebar: black;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ======== 네비게이션 ======== */

/* 네비게이션 전체 */
.nav-all
{
    display: block;
    left: 0;
    top: 0;
    margin-left: 0;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 250px;
    border-right: 2px solid var(--color-gray600);
    color: var(--color-gray600);
    box-shadow: 2px 0 2px var(--color-gray400);
    transition: all 0.8s;
}

/* 네비게이션 아이콘 */
.navIcon
{
    width: 20px;
    height: 20px;
    filter: invert(80%) sepia(3%) saturate(11%) hue-rotate(351deg) brightness(96%) contrast(88%);
}

/* ======== 네비게이션 ======== */

/* ======== header ======== */
/* 로고 */
#logo
{
    width: 40px;
    height: 40px;
}

#arrow
{
    position: absolute;
    left: 240px;
    top: 40px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-purple);
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow img
{
    width: 25px;
    height: 25px;
    border: 1px
}

header
{
    display: flex;
    margin-top: 34px;
    margin-left: var(--margin-normal);
}

header #logo-name
{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-left: 11px;
    padding: 2px;
    color: var(--color-logoname);
}

header .head-span1
{
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
}

header .head-span2
{
    font-size: var(--font-small);
    font-weight: var(--font-weight-light);
    width: 150px;
}

/* ======== header ======== */

/* ======== Quick-Menu ======== */

#Quick_menu
{
    margin-left: var(--margin-normal);
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: var(--font-medium);
    font-weight: var(--font-weight-bold);
}

#Quick_menu img
{
    display: flex;
}

#Quick_col1
{
    width: 40px;
}

#Quick_col2
{
    width: 135px;
}

#Quick_menu td
{
    height: 35px;;
    cursor: pointer;
    user-select: none;
}

/* ======== Quick-Menu ======== */

/* ======== Menu-bar ======== */

input[type='checkbox']
{
    display: none;
}

#Menu_bar
{
    user-select: none;
    cursor: pointer;
    font-size: var(--font-mediumlarge);
    font-weight: var(--font-weight-regular);
    margin-left: var(--margin-normal);
}

#Menu_bar > span
{
    font-size: var(--font-medium);
}

#Menu_bar label
{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
}

#Menu_bar .depth1
{
    list-style: none;
    padding-left: 0;
}

#Menu_bar .depth2
{
    list-style: none;
}

#Menu_bar .plus_minus
{
    font-size: var(--font-small);

}

#Menu_bar img
{
    margin-left: 8px;
    margin-right: 13px;
}

.depth1
{
    font-size: var(--font-mediumlarge);
}

.depth2
{
    display: none;
    padding-left: 20px;
}

.depth2 a
{
    margin-left: 30px;
    color: var(--color-gray700);
    text-decoration: none;
    display: inline-block;
    height: 100%;
    padding-left: 5px;
}

.depth2 li
{
    display: flex;
    height: 40px;
    line-height: 40px;
    width: 200px;
    border-radius: 5px;
    padding-left: 0;

}

#Menu_bar input[type='checkbox']:checked ~ .depth2
{
    display: block;
}

.depth2 li:hover
{
    background-color: var(--color-lightpurple);
}

/* ======== Menu-bar ======== */

/* ======== 다크 모드 ======== */

.darkMode
{
    position: fixed;
    left:0px;
    top: 83%;
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: 250px;
    height: 40px;
}

.darkMode-text
{
    color: gray;
    position: absolute;
    left: 60px;
}

.toggle-switch
{
    position: absolute;
    left: 180px;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-switch .switch
{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: gray;
    transition: all 0.3s ease;
}

.switch::before
{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    background-color: var(--color-sidebar);
}

body.dark .switch::before
{
    left: 20px;
}

.sun-moon img
{
    position: absolute;
    top: 5px;
    left: 20px;
}

.sun-moon .sun
{
    opacity: 0;
}

body.dark .sun
{
    opacity: 1;
}

body.dark .Moon
{
    opacity: 0;
}

/* ======== 다크 모드 ======== */

/* ======== 로그인 버튼 ======== */
.btn
{
    position: fixed;
    top: 90%;
    background-color: var(--color-purple);
    color: var(--color-white);
    width: 200px;
    height: 50px;
    border: none;
    margin-left: var(--margin-normal);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-large);
    font-weight: var(--font-weight-regular);
    box-shadow: none;
}

.btn img
{
    margin-right: 30px;
    width: 16px;
}

/* ======== 로그인 버튼 ======== */

/* ======== 컨텐츠 영역 ======== */
.home {
    font-size : var(--font-large); /* 기본 폰트 사이즈 */
    margin:10px;
    height: 100vh;
    width: calc(100% - 78px);
    margin-left:270px; /* 컨텐츠영역의 기본 마진 */
}
/* ======== 컨텐츠 영역 ======== */


