@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gaegu:wght@300&family=Jua&display=swap');


#bold-text {
    color: #71bfd6;
    font-family: 'Jua', sans-serif;
}


#TODAY {
    color: red;
}


.menu-box {
    color: white;
    font-family: 'Jua', sans-serif;
}


#basic-text {
    font-family: 'Gaegu', cursive;
}